doctype html
html(lang="en")
  head
    // Required meta tags
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Geopop!
    link(rel="icon" href="/images/favicon.ico" type="image/x-icon")
    // Reference our Stylesheets for all the cool styles utilized
    link(rel="stylesheet", href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;700&display=swap")
    link(rel='stylesheet', href='/css/global.css')
    // Enable the gathering of those cool icons :D
    script(src="https://kit.fontawesome.com/da5eac9786.js", crossorigin="anonymous")
  body
    block content