doctype html
html
  head
    title My Next.js App with Pug and Tailwind
    link(rel='stylesheet' href='/css/global.scss')
  body(class='bg-gray-100 text-center p-6')
    h1(class='text-4xl font-bold text-blue-600') Hello, Next.js with Pug and Tailwind!
    p(class='mt-4 text-lg') This is a Pug template rendered in a Next.js app with Tailwind CSS.
