div(class="main")
    // Cool scrolling feature on the Homepage
    div(class="parallax")
        // Declare items within the background scrolling feature
        div(class="parallax-inner")
            br
            // Create the Introduction Blurb
            div(class="blurb")
                h2 Where the world is
                h3 at your fingertips
                p 
                    | Geopop is the hub to gain access to the population 
                    | information of the world - Generate reports based on 
                    | YOUR criterion: Country, City, Capital City & Population.
            
            // Display the Earth image within the background image
            div(class="earth")
                img(src="/images/earth.png", alt="")
            br